.centering_item {
    position: relative;          /* 位置指定 */
    padding: 0px;               /* 余白指定 */
    top:  0;                     /* 位置指定 */
    bottom:  0;                  /* 位置指定 */
    left:  0;                    /* 位置指定 */
    right:  0;                   /* 位置指定 */
    margin:  auto;               /* 中央寄せ */
 }
 .nomatch {
    margin: auto;
    padding: auto;
    width: 50px;
    height: 70px;
    background: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.5em;
 }

 .is_match {
   margin: auto;
   padding: auto;
   width: 50px;
   height: 70px;
   background: rgb(255, 255, 255);
   text-align: center;
    font-size: 1.5em;
 }


.match {
   margin: auto;
   padding: auto;
   width: 50px;
   height: 70px;
   background: rgb(168, 48, 48);
   text-align: center;
   font-size: 1.5em;
 }

 .new_game_item {
   background-color: rgb(241, 39, 16);
   width: 150px;
   height: 70px;
 }
 #bt-next {
   margin: 100%;
 }

 #bt-new-game {
   margin: 200%;
 }